/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
* {
  font-family: 'Baskervville', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 4rem;
  color: #E8A62D;
}
h1 {
  color: #E8A62D;
}
h2 {
  color: #E8A62D;
}
p {
  color: #eee;
  font-size: 2rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: -1;
  height: 10%;
  padding: 2%;
  background-color: #F0E9DF;
}
@media (max-width: 500px) {
  header {
    padding: 2% 0 3% 0;
    height: 23%;
  }
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  header nav {
    width: 100%;
  }
}
@media (max-width: 600px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
  }
}
header nav a {
  text-decoration: none;
}
@media (max-width: 600px) {
  header nav a {
    margin: 0 0 1% 0;
  }
}
header nav a:hover {
  cursor: pointer;
  opacity: 0.8;
}
header nav ul {
  width: 30%;
}
@media (max-width: 800px) {
  header nav ul {
    width: 40%;
  }
}
@media (max-width: 600px) {
  header nav ul {
    width: 70%;
  }
}
@media (max-width: 500px) {
  header nav ul {
    width: 100%;
  }
}
header nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  header nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 1% 0;
  font-size: 2rem;
}
@media (max-width: 500px) {
  header nav ul li a {
    background-color: #4E6A5B;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    padding: 2% 0;
  }
}
header nav ul li a:hover {
  cursor: pointer;
  color: #E8A62D;
  border-bottom: 1px dotted #E8A62D;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: 100vh;
  padding: 10% 0 0 0;
  background-image: url(../assets/images/hero4.png);
  background-size: cover;
  background-position: center;
}
.hero .textCont1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 800px) {
  .hero .textCont1 {
    width: 100%;
  }
}
.hero .textCont1 h2 {
  margin: 0 0 8% 0;
}
.hero .btnCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  padding: 5% 0 0 0;
}
@media (max-width: 500px) {
  .hero .btnCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.hero .btnCont a {
  padding: 2%;
  margin: 0 2% 0 2%;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid white;
  background-color: #4E6A5B;
  color: white;
  font-size: 2rem;
  display: block;
  width: 15%;
  text-align: center;
  opacity: 0.8;
}
.hero .btnCont a:hover {
  opacity: 1;
  cursor: pointer;
  border-color: #AEAE70;
}
@media (max-width: 800px) {
  .hero .btnCont a {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .hero .btnCont a {
    margin-bottom: 3%;
    width: 90%;
    padding: 3%;
    font-size: 2.5rem;
  }
}
.howItWorks {
  background-image: url(../assets/images/Farm-Fresh-Produce_large.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4E6A5B;
  max-width: 100%;
  padding: 5% 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px dashed #AEAE70;
  border-top: 2px dashed #AEAE70;
}
.howItWorks h2 {
  width: 100%;
  padding: 0 0 3% 0;
  text-align: center;
}
.howItWorks p {
  width: 60%;
  padding: 2%;
  border: 1px solid #AEAE70;
  border-radius: 5px;
  margin: 0 0 5% 0;
  color: #4E6A5B;
}
@media (max-width: 800px) {
  .howItWorks p {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .howItWorks p {
    margin: 0 0 20% 0;
    width: 100%;
  }
}
.howItWorks .choices {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .howItWorks .choices {
    width: 100%;
  }
}
.howItWorks .choices .choice1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 10% 0;
}
@media (max-width: 800px) {
  .howItWorks .choices .choice1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.howItWorks .choices .choice2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 10% 0;
}
@media (max-width: 800px) {
  .howItWorks .choices .choice2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.howItWorks .choices img {
  width: 45%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
}
@media (max-width: 800px) {
  .howItWorks .choices img {
    width: 65%;
    margin: 0 0 1% 0;
  }
}
@media (max-width: 500px) {
  .howItWorks .choices img {
    display: none;
  }
}
.howItWorks .choices .text {
  width: 45%;
  max-width: 100%;
  text-align: center;
}
@media (max-width: 800px) {
  .howItWorks .choices .text {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .howItWorks .choices .text {
    width: 100%;
  }
}
.howItWorks .choices .text h3 {
  width: 100%;
  margin: 0 0 3% 0;
}
.howItWorks .choices .text p {
  width: 100%;
  padding: 3%;
  background-color: gray;
  color: #eee;
}
.about {
  background-image: url(../assets/images/aboutImage.jpg);
  background-position: center;
  background-size: cover;
  padding: 5% 0;
}
@media (max-width: 500px) {
  .about {
    margin-top: 5%;
  }
}
.about h3 {
  width: 100%;
  text-align: center;
  margin: 5% 0 5% 0;
  color: #4E6A5B;
}
@media (max-width: 500px) {
  .about h3 {
    margin: 0 0 10% 0;
  }
}
.about .aboutText {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.about .aboutText p {
  color: #333;
  border-bottom: 1px solid #eee;
  padding: 0 0 5% 0;
}
.team {
  width: 100%;
  padding: 5% 0 5% 0;
  border-bottom: 2px dashed #AEAE70;
}
.team h3 {
  width: 100%;
  text-align: center;
  margin: 0 0 5% 0;
  color: #4E6A5B;
}
@media (max-width: 500px) {
  .team h3 {
    margin: 0 0 10% 0;
  }
}
.team .teamCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: baseline;
}
.team .teamCont .teamMember {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 2% 5% 0;
  padding-bottom: 1%;
  border-bottom: 1px dashed #333;
}
@media (max-width: 900px) {
  .team .teamCont .teamMember {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .team .teamCont .teamMember {
    width: 55%;
  }
}
@media (max-width: 500px) {
  .team .teamCont .teamMember {
    margin: 0 0 10% 0;
    width: 100%;
  }
}
.team .teamCont .teamMember .teamImage {
  width: 30%;
  margin: 0 auto;
}
.team .teamCont .teamMember .teamImage img {
  width: 100%;
  align-items: baseline;
}
@media (max-width: 500px) {
  .team .teamCont .teamMember .teamImage img {
    display: none;
  }
}
.team .teamCont .teamMember .teamText {
  text-align: center;
  width: 90%;
}
.team .teamCont .teamMember .teamText p {
  color: #333;
}
.team .teamCont .teamMember .teamText h4 {
  margin: 0 0 2% 0;
}
footer {
  height: 10%;
  text-align: center;
  padding: 2%;
  background-color: #333;
}
footer .copy {
  cursor: pointer;
}
@media (max-width: 500px) {
  footer .copy {
    margin-top: 2%;
  }
}
