.hero{
    .dFlex(column, flex-start, center);
    max-width: 100%;
    height: 100vh;
    padding: 10% 0 0 0;
    background-image: url(../assets/images/hero4.png);
    background-size: cover;
    background-position: center;

    .textCont1{
        .dFlex(column, center, center);
        width: 60%;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;

        @media @tablet{
            width: 100%;
        }

        h2{
            margin: 0 0 8% 0;
        }
    }//end textCont1

    .btnCont{
        .dFlex(row, center, center);
        max-width: 100%;
        width: 100%;
        padding: 5% 0 0 0;

        @media @mobile{
            .dFlex(column, center, center);
        }

        a{
            .btn(@btnColor, @btnText);

            @media @mobile{
                margin-bottom: 3%;
                width: 90%;
                padding: 3%;
                font-size: @aSize+0.5;
            }
        }
    }//end btnCont
}//end hero section

// ////////////////// how it works //////////////////////

.howItWorks{
    background-image: url(../assets/images/Farm-Fresh-Produce_large.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: @green1;
    max-width: 100%; 
    padding: 5% 0 0 0;
    .dFlex(column, flex-start, center);
    border-bottom: 2px dashed @green3;
    border-top: 2px dashed @green3;

    h2{
        width: 100%;
        padding: 0 0 3% 0;
        text-align: center;

    }

    p{
        width: 60%;
        padding: 2%;
        border: 1px solid @green3;
        border-radius: 5px;
        margin: 0 0 5% 0;
        color: @green1;

        @media @tablet{
            width: 95%;
        }

        @media @mobile{
            margin: 0 0 20% 0;
            width: 100%;
        }
    }

    .choices{
        width: 80%;
        .dFlex(column, space-between, center);

        @media @mobile{
            width: 100%;
        }

        .choice1{
            .dFlex(row, space-between, center);
            width: 100%;
            padding: 5% 0;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;

            @media @tablet{
                .dFlex(column, space-between, center);
            }

        }//end choice1

        .choice2{
            .dFlex(row-reverse, space-between, center);
            width: 100%;
            padding: 7% 0;

            @media @tablet{
                .dFlex(column, space-between, center);
            }

        }//end choice2

        img{
            width: 45%;
            border-radius: 5px;
            box-shadow: 2px 2px 5px;

            @media @tablet{
                width: 65%;
                margin: 0 0 1% 0;
            }

            @media @mobile{
                display: none;
            }
        }

        .text{
            width: 45%;
            max-width: 100%;
            text-align: center;

            @media @tablet{
                width: 95%;
            }

            @media @mobile{
                width: 100%;
            }

            h3{
                width: 100%;
                margin: 0 0 3% 0;
            }

            p{
                width: 100%;
                padding: 3%;
                background-color: gray;
                color: @pColor;
            }
        }//end text
    }//end choices
}//end howItWorks

// /////////////////// contact //////////////////////////

.contact{

    width: 100%;
    text-align: center;
    .dFlex(column, center, center);
    padding: 5% 0;

    h4{
        margin: 0 0 2% 0;
    }

    form{
        width: 60%;
        color: @pColor;

        @media @tablet{
            width: 80%;
        }

        @media @mobile{
            width: 100%;
        }

        input{
            width: 100%;
            padding: 1%;
            margin: 0 0 2% 0;
            font-size: @aSize;
            border-radius: 5px;
            border: 1px solid #eee;
        }

        input[type= submit]{
            font-size: @pSize;
            color: @aColor;
            appearance: none;
            -webkit-appearance: none;
            border-radius: 5px;
            border: 1px solid #eee;

            &:hover{
                background-color: #eee;
                color: #777;
                opacity: 0.6;
                cursor: pointer;
            }

        }// end input type submit

        textArea{
            width: 100%;
            padding: 1%;
            margin: 0 0 2% 0;
            font-size: @pSize;
            color: @aColor;
            border-radius: 5px;
            border: 1px solid #eee;
            resize: none;
        }

    }//end form

}//end contact
