
// //////////////// fonts //////////////////
// ////////////////////////////////////////

// colors
@pColor: #eee;
@hColor: #E8A62D; 

@aColor: #333;

// font-sizes
@hSize: 3rem;
@pSize: 1.6rem;
@aSize: 1.4rem;

// //////////////// theme ////////////////
// //////////////////////////////////////



@headerColor: #F0E9DF;
@offWhite: #F8F8F8;

@orange: #E8A62D;
@green3: #AEAE70;
@color3: #BAB47D;
@green1: #4E6A5B;
@green2: #A7C629;

@btnColor: @green1;
@btnText: white;

// ///////////////////////////////////////
// ///////////////////////////////////////