
// //////////////// fonts //////////////////
// ////////////////////////////////////////

// colors
@pColor: #eee;
@hColor: #E8A62D; 

@aColor: #333;

// font-sizes
@hSize: 3rem;
@pSize: 1.6rem;
@aSize: 1.4rem;

// //////////////// theme ////////////////
// //////////////////////////////////////

@headerColor: #F0E9DF;
@orange: #E8A62D;
@green1: #4E6A5B;
@green3: #AEAE70;

@btnColor: @green1;
@btnText: white;






// ///////////////////////////////////////
// ///////////////////////////////////////
@900: ~'(max-width: 900px)';
@tablet: ~'(max-width: 800px)';
@600: ~'(max-width: 600px)';
@mobile: ~'(max-width: 500px)';